*.hi
*.imports
*.meta
*.o
*.swp
*.tag
*_flymake.hs
*~
.hsenv
.stack-work/
.vagrant/
/*.iml
/.cabal-sandbox/
/.dir-locals.el
/.git/
/.idea/
/_release/
/_site/
/src/highlight.js
/src/style.css
cabal-dev/
cabal.sandbox.config
dist/
TAGS
tags
a.out
